<h1> Voici les tâches : </h1>

<% @tasks.each do |task| %>
  <h2> <%= link_to task.name, task_path(task) %> </h2>
  <p> <%= task.description %> </p>
<% end %>

<p> <%= link_to "Ajouter une tâche", tasks_new_path %> </p>




