// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {

    font-family: 'Raleway', sans-serif;
    background-color: #CCCCCC;
    color: #2C3E50;
    text-align: center;
    padding: 100px;
    font-size: 15px;

}

body h1 {

    text-size: 3s5px;
}
